{% extends 'home/newBootstrap.html.twig' %}

{% block title %}User change password{% endblock %}

{% block content %}
    <h1>Change password</h1>

    {{ form_start(userEdit) }}
    {{ form_row(userEdit.plainPassword.first) }}
    {{ form_row(userEdit.plainPassword.second) }}
    <button class="btn btn-lg btn-primary" formnovalidate>Update</button>
    {{ form_end(userEdit) }}
{% endblock %}