{% extends 'admin/base.html.twig' %}

{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button  class="btn">{{ button_label|default('Update payment type') }}</button>
    {{ form_end(form) }}

{% endblock %}
