

{% for order in orders %}

    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.adress }}</td>
        <td>{{ order.paid }}</td>


    </tr>

{% endfor %}

{% for item in items %}

    <tr>
        <td>{{ item.id }}</td>



    </tr>

{% endfor %}