{% extends 'admin/base.html.twig' %}

{% block title %}Product index{% endblock %}


{% block content %}
    {% for message in app.flashes('success') %}
        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}

    <h1>Product index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Order id</th>
            <th>Adress</th>
            <th>status</th>

        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.adress }}</td>
                <td>{{ order.paid }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
