
{% block header %}  {% include 'admin/header.html.twig' %}    {% endblock %}
{% block leftside %}  {% include 'admin/leftside.html.twig' %}{% endblock %}
{% block content %}
    <!-- Main content -->
    <section class="content container-fluid">




        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th>Fist Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Delete</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td><span class="label label-danger">Delete user</span></td>
                </tr>
                {% endfor %}

            </table>
        </div>


    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}
{% block footer %}  {% include 'admin/footer.html.twig' %}    {% endblock %}