{% extends 'admin/base.html.twig' %}
{% block content %}
        <h3>Create new product</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mt-3" formnovalidate>Save</button>
        {{ form_end(form) }}

{% endblock %}
