{% extends 'base.html.twig' %}

{% block title %}Shopcard index{% endblock %}

{% block body %}
    <h1>Shopcard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id shopcard</th>
                <th>Product name</th>
                <th>Product price</th>
            </tr>
        </thead>
        <tbody>
        {% for shopcard in shopcards %}
            <tr>
                <td>{{ shopcard.id }}</td>
                <td>{{ shopcard.name }}</td>
                <td>{{ shopcard.price }}</td>
                <td>
                    <a href="{{ path('shopcard_delete', {'id': shopcard.id}) }}">delete</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
